nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  border-radius: 1.5rem;
  background-color: #2d2d2d;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 1rem;
}

@media (min-width: 640px) {
  nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* nav {
  display: none;
} */

@media (min-width: 640px) {
  .nav {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
}

nav a {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 0.25rem;
  font-size: 0.875rem;
  transition: color 0.3s;
}

nav a:hover {
  color: #e4e4e7;
}

@media (min-width:640px) {
  nav {
    font-size: 1rem;
  }
}