nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  border-radius: 1.5rem;
  background-color: #2d2d2d;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 1rem;
  display: block !important;
}

@media (min-width: 640px) {
  nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 640px) {
  .nav {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
}

nav a {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 0.25rem;
  font-size: 0.75rem;
  transition: color 0.3s;
}

nav a:hover {
  color: #e4e4e7;
}

@media (min-width:640px) {
  nav {
    font-size: 1rem;
  }
}

.nav-links {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #2d2d2d;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

@media (max-width: 640px) {
  .nav-links a {
    color: #e4e4e7 !important;
  }
}


.nav-links.show {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 640px) {
  .nav-links {
    display: flex;
  }
}

@media (min-width: 640px) {
  .nav-links {
    display: flex !important;
    opacity: 1 !important;
    visibility: visible !important;
    position: static !important;
    background: transparent !important;
    justify-content: flex-start;
    flex-direction: row;
    padding-right: 2.25rem;
  }
}