.projects-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 5rem;
  padding-top: 1.5rem;
  font-size: 1.125rem;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

@media (max-width: 640px) {
  .work-container {
    margin-left: 20%;
  }
}

@media (max-width: 768px) {
  .work-container {
    margin-left: 10%;
  }
}

.header {
  margin-top: -30px;
  margin-left: 50px;
}

.header h1 {
  font-size: 26px;
  font-weight: 600;
  color: #e4e4e7;
  margin-bottom: 20px;
}

.header h3 {
  font-size: 18px;
}

.project-container {
  color: inherit;
  background: #2d2d2d;
  margin: 6px;
  padding: 0.25rem 1.25rem;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  margin-left: 50px;
  margin-top: 20px;
}

.project-container .url {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
}

.p-btn {
  display: flex;
  color: inherit;
  background: #2d2d2d;
  cursor: pointer;
  margin-left: -20px;
  padding: 0.125rem 1.25rem;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}

.p-btn:hover {
  color: #ffffff;
}

.project-container .project h1{
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.project-container .project p {
  font-size: 16px;
  font-weight: 600;
  color: #FACF15;
  margin-bottom: 10px;
}

.project-container  p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-container .skills {
  display: flex;
  gap: 1rem;
  margin-bottom: 20px;
  opacity: 0.5;
}

.project-container .skills .skill p {
  font-size: 14px;
  border: 1px solid #FACF15;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 20px;
}

.project-container .skills .skill:hover {
  color: #ffffff;
}

