/* Work Container */
.work-container {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 1rem 5rem;
  font-size: 1.125rem;
  box-sizing: border-box;
}

/* work-header */
.work-header {
  margin-bottom: 2rem;
  margin-left: 50px;
}

.work-header h1 {
  font-size: 26px;
  font-weight: 600;
  color: #e4e4e7;
  margin-bottom: 20px;
}

.work-header h3 {
  font-size: 18px;
}

/* Experience Container */
.experience-container {
  background: #2d2d2d;
  padding: 1.25rem;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  margin: 1rem 50px;
}

/* Job Location & Dates */
.experience-container .workcity {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Workplace Title */
.experience-container .workplace h1 {
  font-size: 20px;
  font-weight: 700;
}

.experience-container .workplace p {
  font-size: 16px;
  font-weight: 600;
  color: #FACF15;
  margin-bottom: 10px;
}

/* Work Description */
.experience-container .work-desc p {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Skills Section */
.experience-container .work-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 20px;
  opacity: 0.5;
}

.experience-container .work-skills .skill p {
  font-size: 14px;
  border: 1px solid #FACF15;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 20px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .work-header {
    margin-left: 30px;
  }

  .experience-container {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 640px) {
  .work-container {
    margin-top: -38px;
    max-width: 100%;
    padding: 1rem;
  }

  .work-header {
    margin-left: 10px;
    margin-top: -10px;
  }

  .work-header h3 {
    margin-left: 2px;
    margin-top: -4px;
  }

  .experience-container {
    margin-left: 2px;
    width: 360px;
    margin-right: 10px;
    padding: 1rem;
    margin-top: -10px;
  }

  .experience-container .workcity {
    font-size: 12px;
    font-weight: 700;
  }

  .experience-container .work-desc p {
    font-size: 14px;
  }

  .experience-container .workplace h1 {
    font-size: 18px;
  }

  .experience-container .workplace p {
    font-size: 16px;
  }

  .experience-container .work-skills {
    flex-direction: row;
    gap: 0.5rem;
  }
}
